.center {
	text-align: center;
}

hr {
    border: none;
    border-top: 1px solid #e8e8e8;
    margin: 2em 0;
}

.svg-icon.tea {
	margin-left: 0.3em;
}
a.tea:hover .svg-icon.tea,
a.tea:focus .svg-icon.tea {
	stroke: black;
}